body {
  color: #fff;
  font-family: roboto;
  background: #0b192f;
  font-size: 1.2vw;
}
.image-wrapper {
  flex: 1;
}
.image-wrapper:hover {
  cursor: pointer;
  filter: opacity(50%);
}
.pink {
  flex: 1;
	background: #B71757;
}
.lasure {
	background: #0D7E71;
}
.orange {
	background: #b1660e;
}
.red {
	background: #d12767;
}
.blue {
	background: #2d95bb;
}
a {
  text-decoration: none;
  color: #fff;
}
* {
  padding: 0;
  margin: 0;
}
.header {
  background: #162b4d;
  margin-bottom: 15px;
}
.color-red {
  color: #B71757;
}
h1 {
  font-weight: 200;
  font-size: 3vw;
}
h2 {
  font-size: 4.2vw;
  font-weight: 200;
}
h3 {
  color: #162b4d;
  font-size: 2.4vw;
  font-weight: 200;
}
.text,
.text-2,
.text-right,
.post-description {
  filter: opacity(50%);
  font-weight: 200;
}
.main {
  padding: 0 10px;
}
.hamburger {
  margin-bottom: 20px;
}
.hamburger div {
  width: 12px;
  height: 1px;
  background-color: #fff;
  margin: 4px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 20px;
}
.title {
  padding: 30px;
}
.text {
  padding: 0 30px;
  line-height: 25px;
}
.day {
  font-size: 4.5vw;
}
.post-description {
  padding: 15px 10px 20px;
  font-size: 2vw;
  text-align: center;
}
.news-1,
.news-2 {
  background: #fff;
  margin: 0 0 10px;
}
.title-2 {
  padding: 20px 30px 0;
}
.text-2 {
  color: #162b4d;
  font-size: 15px;
  padding: 10px 30px 30px;
  line-height: 20px;
}
.contact {
  line-height: 25px;
  background: #162b4d;
  text-align: center;
  margin: 35px 0 5px;
  padding: 40px 10px;
}
.blog {
  display: flex;
  flex-direction: column;
}
.post-description {
  display: flex;
  flex-direction: column;
}
img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .menu {
    display: none;
  }
  .main-wrapper {
    position: relative;
  }
  .header {
    flex-direction: column;
    padding: 30px 0;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .post-description {
    margin-top: 20px;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .main {
    width: 89%;
    margin: 0 auto;
  }
  .menu a {
    display: inline-block;
    padding: 30px 10px;
  }
  .menu a:hover {
    background: #283d5f;
  }
  .hamburger {
    display: none;
  }
  .main-wrapper {
    display: flex;
  }
  article {
    display: flex;
    flex-direction: row-reverse;
  }
  article:nth-child(odd) {
    flex-direction: row;
  }
  .post-content, .archive {
    display: flex;
    flex: 1;
    cursor: pointer;
  }
  article img {
    width: 100%;
  }
  .about {
    margin-left: 10px;
    min-width: 260px;
    max-width: 25%;
  }
  footer .contact {
    display: flex;
    justify-content: space-between;
  }
  footer .copyright {
  text-align: left;
  }
  footer .text-right {
    text-align: left;
  }
  .archive {
    display: flex;
  }
  .archive div {
    padding: 0 30px 40px;
  }
  article:nth-child(even) .post-content {
    flex-direction: row-reverse;
    text-align: right;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .menu {
    display: none;
  }
  .main-wrapper {
    display: flex;
    flex-direction: row;
  }
  .header {
    flex-direction: column;
    padding: 30px 0;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .post-description {
    margin-top: 20px;
  }
  .post-content {
    min-height: 678px;
  }
  .about {
    margin-left: 10px;
    min-width: 260px;
    max-width: 25%;
  }
}