$contentBackground: #fff;
$background-image: url("../img/header_background_v1.jpg");
$font: normal 300 15px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font-size: 24px;
$articlebackground: #efefef;
$border-bottom: #617d8a;
$acolor: #000;
$h3color: #1697a6;
$a: #fff;
$pcolor: #617d8a;
$post-description: red;
$btn: #1697a6;